/* HERO */
.galleria .hero {
    background-image: url("../assets/img/hero/galleria.webp");
}

.galleria .section {
    margin-top: 90px;
}

.galleria .section .gallery-container {
    margin-top: 24px;
}

/* PISCINE */
.galleria .section .gallery-container .piscine .gallery-image {
    background-image: url("../assets/img/sections/galleria/piscine-di-venere.webp");
}

/* CHIESA */
.galleria .section .gallery-container .chiesa .gallery-image {
    background-image: url("../assets/img/sections/galleria/chiesa-di-santantonio-da-padova.webp");
}

/* CHIESA 2 */
.galleria .section .gallery-container .chiesa-2 .gallery-image {
    background-image: url("../assets/img/sections/galleria/chiesa-di-santantonio-da-padova2.webp");
}

/* NGONIA */
.galleria .section .gallery-container .ngonia .gallery-image {
    background-image: url("../assets/img/sections/galleria/ngonia-del-tono.webp");
}

/* GORGONIE */
.galleria .section .gallery-container .gorgonie .gallery-image {
    background-image: url("../assets/img/sections/galleria/le-gorgonie.webp");
}

/* FARO */
.galleria .section .gallery-container .faro .gallery-image {
    background-image: url("../assets/img/sections/galleria/il-faro.webp");
}

/* SCARABEO */
.galleria .section .gallery-container .scarabeo .gallery-image {
    background-image: url("../assets/img/sections/galleria/lo-scarabeo.webp");
}

/* CASTELLO */
.galleria .section .gallery-container .castello .gallery-image {
    background-image: url("../assets/img/sections/galleria/il-castello-di-milazzo.webp");
}

/* PORTO */
.galleria .section .gallery-container .porto .gallery-image {
    background-image: url("../assets/img/sections/galleria/porto-di-milazzo.webp");
}

/* DUOMO */
.galleria .section .gallery-container .duomo .gallery-image {
    background-image: url("../assets/img/sections/galleria/duomo-antico-di-santo-stefano.webp");
}
/* CROSTACEI */
.galleria .section .gallery-container .crostacei .gallery-image {
    background-image: url("../assets/img/sections/galleria/crostacei.webp");
}

/* VIA MARINA */
.galleria .section .gallery-container .via-marina .gallery-image {
    background-image: url("../assets/img/sections/galleria/via-marina-garibaldi.webp");
}
