/* HOME PAGE HERO */
.home .hero {
    background-image: url("../assets/img/hero/home-page.webp");
}
.home .hero .hero-content {
    text-align: left;

    padding-bottom: 80px;
}

.home .navbar .navbar-link-container {
    grid-column: 4 / 13;
}

@media screen and (min-width: 1240px) {
    .home .navbar .navbar-link-container {
        grid-column: 6 / 13;
    }
}

/* COS'È L'AMP */
.cose-lamp {
    margin-top: 78px;
}

/* CAPO MILAZZO */
.capo-milazzo {
    padding-top: 142px;
}
.capo-milazzo .section-image {
    background-image: url("../assets/img/sections/home-page/promontorio-capo-milazzo.webp");
}

/* A COSA SERVE */
.a-cosa-serve {
    padding-top: 235px;
}

@media screen and (min-width: 1024px) {
    .a-cosa-serve .section-image {
        margin-top: -100px;
    }
}

/* GUIDA MILAZZO */
.guida-milazzo {
    padding-top: 200px;
}
.guida-milazzo .section-image {
    background-image: url("../assets/img/sections/home-page/guida-milazzo.webp");
}

/* LA BELLEZZA DEL TERRITORIO */
.la-bellezza-del-territorio {
    padding-top: 195px;
}

@media screen and (min-width: 1024px) {
    .la-bellezza-del-territorio .section-image {
        margin-top: -140px;
    }
}
